<!DOCTYPE html>
<head>
	<title>{{#if title}}{{title}}{{else}}Untitled{{/if}} | The Columns Project</title>

	<!-- Google Webmaster Tools Verification -->
	<meta name="google-site-verification" content="cGqPP1heySk1JcsVGIzL-gc2p6ykZl6mKzzr92E610k" />

	<!-- Set up viewport for mobile and desktop -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no, minimum-scale=1.0,maximum-scale=1.0">
	<meta name="viewport" content="initial-scale=1, user-scalable=no, minimum-scale=1.0,maximum-scale=1.0" media="(device-width: 1024px)">

	<!-- Fav Icon -->
	<link rel="icon" type="image/png" href="images/favicon.png" />

	<!-- CSS -->
	<link href="css/share-page.css" rel="stylesheet">

</head>
<body>
	
	<section class="share-page-header">
		<i class="icon-columns"></i>
		The Columns Project
	</section>
	<section class="share-page-embed">
		<script type="text/javascript"
			src="{{ embed_host }}/public/embed-table.js"
			data-table-id="{{ embed_id }}">
		</script>
	</section>
	<section class="share-page-actions">
		<a class="columns-button button-secondary share-page-action-button" href="https://twitter.com/intent/tweet?text=Suh-weet.&url={{embed_uri}}" target="_blank">
			<i class="icon-twitter"></i>
			Tweet this table
		</a>
		<a class="columns-button button-secondary share-page-action-button" href="mailto:?subject=Check out this table&body={{embed_host}}/{{embed_id}}" target="_blank">
			<i class="icon-email"></i>
			Email this table
		</a>

		<div class="share-page-action-url">
			<div class="share-page-url-label">Or share the url</div>
			<div class="share-page-url">
				{{embed_host}}/{{embed_id}}
			</span>
		</div>
	</section>

	<script>

	</script>
</body>